<a href="https://colab.research.google.com/github/samhithaPeddireddy/Samhitha_Info5502_Spring2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Here, I want to check the non fiction books to read based on their rating.
I used Good reads website to extract data.Good reads contains books of different genres, 
theirs authors and their ratings which are given by user.I first selected the good reads website 
and used web scraping method to extract the same.Firstly, i have imported requests library to read the data from URL and used for loop to go through all the pages present.
Then i have used beautifulsoup library to extract data from html files.
i have created a table to define a table (based on HTML element)for the soup to read,then stored the data like- name of the author,name of the book,
ratings based on HTML elements and appended them.Finally i have used dataframes from pandas library to display it as table.
I have downloaded the data and displayed sample records to check.



'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code)

import pandas as pd
import numpy as np


import requests
from bs4 import BeautifulSoup

import re
import time

bookname = []
authorname = []
ratings = []
pagenum= []


for i in range(1,26): # go throught the 23 pages
    start_time = time.time()
    URL = 'https://www.goodreads.com/list/show/10048.Non_fiction_Something_for_Everyone?page={}'.format(i)
    page = requests.get(URL)
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)
    right_table=soup.find('table', class_='tableList js-dataTooltip')
    
    for row in right_table.findAll("tr"):
        name = row.find('span', attrs = {'itemprop':'name'})
        author = row.find('a', attrs = {'class':'authorName'})
        rating = row.find('span', attrs = {'class':'minirating'})
        bookname.append(name.text)
        authorname.append(author.text)
        ratings.append(rating.text)
        
            
        pagenum.append(i)

    print('Page {} completed in {} seconds'.format(i, time.time()-start_time))

Page 1 completed in 3.912221908569336 seconds
Page 2 completed in 3.841020107269287 seconds
Page 3 completed in 3.7290008068084717 seconds
Page 4 completed in 3.8081612586975098 seconds
Page 5 completed in 3.858104944229126 seconds
Page 6 completed in 3.224539279937744 seconds
Page 7 completed in 3.3415215015411377 seconds
Page 8 completed in 3.0689809322357178 seconds
Page 9 completed in 5.2026989459991455 seconds
Page 10 completed in 4.350251197814941 seconds
Page 11 completed in 4.261441946029663 seconds
Page 12 completed in 4.1969757080078125 seconds
Page 13 completed in 3.477792263031006 seconds
Page 14 completed in 4.8484885692596436 seconds
Page 15 completed in 3.7048399448394775 seconds
Page 16 completed in 3.8795995712280273 seconds
Page 17 completed in 3.7924978733062744 seconds
Page 18 completed in 4.254313707351685 seconds
Page 19 completed in 3.936734914779663 seconds
Page 20 completed in 4.826011657714844 seconds
Page 21 completed in 3.7713632583618164 seconds
Page 22 completed in 3.8659393787384033 seconds
Page 23 completed in 3.883521795272827 seconds
Page 24 completed in 3.976466178894043 seconds
Page 25 completed in 3.55798602104187 seconds

In [ ]:
print(len(bookname))
print(len(authorname))
print(len(ratings))
print(len(pagenum))

2300
2300
2300
23

In [ ]:
books_df = pd.DataFrame({'BookName':bookname, 'authorname':authorname, 'ratings': ratings, 'PageNo': pagenum})

In [ ]:
books_df.to_csv(r'Users\samhithapeddireddy\Downloads\.csv')

books_df.head()

                                            BookName  ... PageNo
0                          The Diary of a Young Girl  ...      1
1  Muhammad, the World-Changer: An Intimate Portrait  ...      1
2  Guns, Germs, and Steel: The Fates of Human Soc...  ...      1
3                            A Brief History of Time  ...      1
4  Why They Stay: Sex Scandals, Deals, and Hidden...  ...      1

[5 rows x 4 columns]

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here:
I have analyzed the marketing dataset from kaggle.This dataset was given to business students for data analysis.It contains data like id,income,number of visits to store,education.
The data quality is good enough to analyse but has a few issues.Firstly there are a few duplicate records(based on customer ID).i will remove the duplicate records using DataFrame.drop_duplicates(subset=None, keep=’first’, inplace=False) from pandas library
There is some missing data (income, number of visits, education)and will remove those rows using heatmap.
The outliers if any can be detected using histogram and box plot and We either drop them or keep them.
There is no proper usage of upper and lower cases It could cause issues.sub_area feature can be used to find out.
i will convert all letters to lower cases or upper cases.There is dollar symbol in fornt of incomes and the same needs to be removed to perform proper computation like averages,sum.
Other parts of data looks fine to me.






'''

# New Section

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)