<a href="https://colab.research.google.com/github/samhithaPeddireddy/Samhitha_Info5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def variablecount(str1):

 di={}
 for n in str1:
        k = di.keys()
        if n in k:
            di[n] += 1
        else:
            di[n] = 1
 
 #print(dict)
 
 #print(a)
 
 
 sorted_count=dict(sorted(di.items(),key = lambda ks: -ks[1]))
 print(sorted_count)
 
str2= input("enter the string")
variablecount(str2)

enter the stringsaamhiii
{'i': 3, 'a': 2, 's': 1, 'm': 1, 'h': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
input_str= input('provide the list with space')
listm= input_str.split()
sum1=0
for i in listm:
  sum1=sum1+ int(i)  
print(sum1)

provide the list with space1 2 3 4 5 6
21

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
str1= input("Enter the string")
a = (str1[0])

if a in str1:
 b=str1.replace(a,"$")
str2=a+b[1:]
print(str2)

Enter the stringrrrrrrr
r$$$$$$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
a=input("enter variable a")
b=input("enter variable b")
s=3.14*((1+(float(a)/float(b))))**3
print(s)

enter variable a2
enter variable b3
14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
t=input("enter tuple to search")
e= input("enter element to search")
#print(tuple(t.split()))
if(e in t):
  print("element present")
else:
  print("not present")

enter tuple to searchCamden ,ken
enter element to searchmin
not present

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
x=input("Enter the numbers separated by space to find minimum and maximum")
y=[int(y) for y in x.split(" ")]
print ("min is ",min(y))
print ("max is ",max(y))

Enter the numbers separated by space to find minimum and maximum234 33 45 45 6 7 8
min is  6
max is  234

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [16]:
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']


len_g =[4,6,5,6,4,5]
rslt = []
for l in len_g:
 
  grp = random.sample(studnet_list, l)

  studnet_list = list(set(studnet_list) ^ set(grp))
  rslt = rslt + [grp]

for r in rslt:
    print(r, end= '\n')

['fh0141', 'sg1297', 'aos0040', 'jl1252']
['av0659', 'sa1198', 'kg0470', 'sb1357', 'sk1313', 'nv0234']
['sm1907', 'ja0964', 'sk1386', 'dr0609', 'ms1500']
['sk1390', 'nm0618', 'sc1229', 'hy0232', 'gn0108', 'ak0956']
['ak0934', 'vm0377', 'sm1640', 'bg0320']
['kg0569', 'pr0353', 'vb0218', 'ds0814', 'sk1458']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [20]:
arr= [1, 2, 3, 4, 2, 7, 8, 8, 3];   
flag=0;   
for a in range(0, len(arr)):    
    for b in range(a+1, len(arr)):    
        if(arr[a] == arr[b]):   
           flag = 1 
           print(arr[b]);    
if flag == 0:
  print("-1")

2
3
8

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [17]:
import pandas as pn

def a_sund(year):
  return pn.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year you want to get Sundays of: "))
a_sund(year)

Enter the year you want to get Sundays of: 2022

['02-January-2022',
 '09-January-2022',
 '16-January-2022',
 '23-January-2022',
 '30-January-2022',
 '06-February-2022',
 '13-February-2022',
 '20-February-2022',
 '27-February-2022',
 '06-March-2022',
 '13-March-2022',
 '20-March-2022',
 '27-March-2022',
 '03-April-2022',
 '10-April-2022',
 '17-April-2022',
 '24-April-2022',
 '01-May-2022',
 '08-May-2022',
 '15-May-2022',
 '22-May-2022',
 '29-May-2022',
 '05-June-2022',
 '12-June-2022',
 '19-June-2022',
 '26-June-2022',
 '03-July-2022',
 '10-July-2022',
 '17-July-2022',
 '24-July-2022',
 '31-July-2022',
 '07-August-2022',
 '14-August-2022',
 '21-August-2022',
 '28-August-2022',
 '04-September-2022',
 '11-September-2022',
 '18-September-2022',
 '25-September-2022',
 '02-October-2022',
 '09-October-2022',
 '16-October-2022',
 '23-October-2022',
 '30-October-2022',
 '06-November-2022',
 '13-November-2022',
 '20-November-2022',
 '27-November-2022',
 '04-December-2022',
 '11-December-2022',
 '18-December-2022',
 '25-December-2022',
 '01-January-2023']